/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}
.float_left {
    float: left;
}
.float_right {
    float: right;
}

.p_relative {
    position: relative;
}

.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.grey_box {
    width: 100%;
    height: 160px;
    background-color: #C8C8C8;
}

.box_33w {
    width: calc(33% - 44px);
    height: 100%;
    margin: 0 22px;
}
.box_50w {
    width: 50%;
    height: 100%;
}

.button {
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}
.button_small {
    line-height: 20px;
    padding: 10px 15px;
    font-size: 12px;
}
.button_big {
    line-height: 30px;
    padding: 15px 15px;
    font-size: 16px;
}
.button_green {
    border: 1px solid #7CBB02;
    background-color: #7CBB02;
}
.button_green:hover {
    border: 1px solid #7CBB02;
    color: #7CBB02;
    background-color: rgba(0, 0, 0, 0);
}
.button_blue {
    border: 1px solid #FFFFFF;
    background-color: #0C325A;
}
.button_blue:hover {
    border: 1px solid #FFFFFF;
    color: #0C325A;
    background-color: #FFFFFF;
}

.list_inline {
    list-style: none;
}
.list_inline > li,
.list_inline > p,
.list_inline >a {
    display: inline-block;
    margin: 10px;
}
.list_inline a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}
.list_inline a:hover:not(.button) {
    color: #7CBB02;
}

.font_black {
    font-size: 27px;
    color: #000000;
}
.font_green {
    font-size: 27px;
    margin-bottom: 15px;
    color: #7CBB02;
}
.font_grey {
    font-size: 20px;
    margin: 15px 0;
    font-weight: 500;
    color: #848484;
}

.hr_small {
    width: 20%;
    margin: 30px auto;
}

/* header */
header {
    height: 550px;
    background-color: #0C325A;
    background-image: url(../img/background-header.png);
    background-repeat: no-repeat;
    background-size: auto 75%;
    background-position: 110% 108%;
}

#header_nav {
    width: 100%;
    height: 20%;
    font-size: 12px;
    line-height: 80px;
    color: #FFFFFF;
}
[id^="nav"] {
    height: 100%;
}
#nav_logo {
    width: 15%;
    text-align: left;
}
#nav_logo img {
    vertical-align: middle;
}
#nav_left {
    width: 45%;
    text-align: left;
}
#nav_right {
    width: 40%;
    text-align: right;
}

#jumbotron {
    width: 55%;
    height: 80%;
    color: white;
}
#jumbotron .content {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-0%, -50%);
}
#jumbotron h1 {
    font-size: 55px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

/* main */
#section_1 .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}
#section_2,
#section_3 {
    width: 100%;
    height: 425px;
    padding: 30px;
    background-color: #FFFFFF;
}
#section_2 {
    text-align: center;
}
#section_2 img {
    height: 200px;
    object-fit: cover;
    object-position: center;
    margin: 30px;
}
#section_3 img{
    height: 400px;
}
#section_3 #box_2 {
    padding-right: 20%;
}
#section_3 a {
    color: hsl(211deg 44% 66%);
}

#hr_long {
    width: 98%;
    margin: 15px auto;
}

/* footer */
footer h2 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}
footer .content {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}

#footer_select {
    border-bottom: 2px solid #848484;
    cursor: pointer;
}
#footer_select::after {
    content: "\25BC";
    font-size: 12px;
    vertical-align: middle;
    padding-left: 80px;
}

#fixed {
    position: fixed;
    bottom: 0;
    right: 15vw;
    font-size: 16px;
    border-radius: 5px 5px 0 0;
}