/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* common positioning */
.clearfix {
    content: "";
    display: table;
    clear: both;
}
.float_left {
    float: left;
}
.float_right {
    float: right;
}

.p_relative {
    position: relative;
}

.inline_block {
    display: inline-block;
}

/* common containers */
.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.grey_box {
    width: 100%;
    height: 160px;
    background-color: #C8C8C8;
}
.blue_box {
    width: 100%;
    background-color: #0C325A;
}

.box_33w {
    width: calc(33% - 44px);
    height: 100%;
    margin: 0 22px;
}
.box_50w {
    width: 50%;
    height: 100%;
}

/* common buttons */
.button {
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}
.button_small {
    line-height: 15px;
    padding: 10px 15px;
    font-size: 12px;
}
.button_big {
    line-height: 30px;
    padding: 15px 15px;
    font-size: 16px;
}
.button_green {
    border: 1px solid #7CBB02;
    background-color: #7CBB02;
}
.button_green:hover {
    border: 1px solid #7CBB02;
    color: #7CBB02;
    background-color: rgba(0, 0, 0, 0);
}

/* common lists */
.list_inline {
    list-style: none;
}
.list_inline > li {
    display: inline-block;
    margin: 9px;
}

.list_block{
    list-style: none;
    margin-left: -15px;
}
.list_block > li {
    margin: 15px;
}

/* common color fonts */
.font_black {
    font-size: 26px;
    color: #000000;
}
.font_white {
    font-size: 26px;
    color: #FFFFFF;
}
.font_green {
    font-size: 26px;
    margin-bottom: 15px;
    color: #7CBB02;
}
.font_grey {
    font-size: 20px;
    margin: 15px 0;
    font-weight: 500;
    color: #848484;
}
.font_blue {
    color: #6491C2;
}

/* common font size */
.font_small {
    font-size: 15px;
}

/* common horizontal rules */
.hr_small {
    width: 20%;
    margin: 30px auto;
}
.hr_long {
    width: 98%;
    margin: 15px auto;
}

/* images */
img {
    padding: 30px 0;
}

/* header */
header {
    height: 550px;
    background-image: url(../img/background-header.png);
    background-repeat: no-repeat;
    background-size: auto 75%;
    background-position: 110% 108%;
}

#header_nav {
    width: 100%;
    height: 20%;
    font-size: 12px;
    line-height: 80px;
    color: #FFFFFF;
}
#header_nav .list_inline a:not(.button) {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}
#header_nav .list_inline a:hover:not(.button) {
    color: #7CBB02;
}

[id^="nav"] {
    height: 100%;
}
#nav_logo {
    width: 15%;
    text-align: left;
}
#nav_logo img {
    vertical-align: middle;
}
#nav_left {
    width: 45%;
    text-align: left;
}
#nav_right {
    width: 40%;
    text-align: right;
}

#button_blue {
    border: 1px solid #FFFFFF;
    background-color: #0C325A;
}
#button_blue::after,
#button_blue::before {
    content: "";
    padding: 0 10px;
}
#button_blue:hover {
    border: 1px solid #FFFFFF;
    color: #0C325A;
    background-color: #FFFFFF;
}

#jumbotron {
    width: 55%;
    height: 80%;
    color: #FFFFFF;
}
#jumbotron .content {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-0%, -50%);
}
#jumbotron h1 {
    font-size: 55px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

/* main */
section {
    width: 100%;
    padding: 50px 0;
}

/* main section 1 */
#section_1 .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* main section 2 */
#section_2 {
    height: 460px;
    background-color: #FFFFFF;
}
#section_2 {
    text-align: center;
}
#section_2 img {
    height: 200px;
    object-fit: cover;
    object-position: center;
    margin: 30px;
}

/* main section 3 */
#section_3 {
    height: 460px;
}
#section_3 img{
    height: 400px;
}
#section_3 .box_2 {
    padding-right: 20%;
}

/* main section 4 */
#section_4 h2 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}
#section_4 .content {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}

#select {
    border-bottom: 2px solid #848484;
    cursor: pointer;
}
#select::after {
    content: "\25BC";
    font-size: 12px;
    vertical-align: middle;
    padding-left: 80px;
}

/* main section 5 */
#section_5 {
    height: 460px;
}
#section_5 .box_2 {
    padding-right: 12%;
}
#section_5 .button {
    text-align: left;
}
#section_5 img {
    height: 300px;
}

/* main section 6 */
#section_6 {
    height: 460px;
}
#section_6 .container {
    text-align: center;
    width: 45%;
}
#section_6 img {
    height: 250px;
}

/* main section 7 */
#section_7 {
    height: 450px;
    margin-top: 100px;
}
#section_7 .content {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 30%;
}

/* main section 8 */
#section_8 {
    height: 460px;
}
#section_8 h2 {
    text-align: center;
}
#section_8 img {
    height: 100px;
}
#section_8 h3 {
    font-size: 21px;
}
#section_8 a {
    display: block;
    padding-top: 15px;
}
#font_lightblue {
    border-top: 10px solid #87cefa;
    color: #87cefa;
}
#font_orange {
    border-top: 10px solid #ffa500;
    color: #ffa500;
}
#font_red {
    border-top: 10px solid #ff0000;
    color: #ff0000;
}

/* footer */
#faqs {
    height: 120px;
}
#faqs .content {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

#contacts {
    height: 330px;
    background-color: rgb(23, 65, 107);
}
#contacts li:first-child {
    font-weight: 700;
    padding-bottom: 10px;
}
#contacts h3:hover {
    color:#7CBB02;
}
#contacts a {
    text-decoration: none;
}
#contacts a:hover {
    color: #7CBB02
}

/* fixed button*/
#fixed {
    position: fixed;
    bottom: 0;
    right: 15vw;
    font-size: 16px;
    border-radius: 5px 5px 0 0;
}